.header {
    background-color: #2196F3;
    height: 180px;
    padding-top: 1px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followings ion-badge {
    width: fit-content;
}
.header p {
    color: white;
    text-align: center;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 110px;
    width: 110px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid #2196F3;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top:-76px;
}

.tweet ion-label {
    line-height: 1!important;
    font-size:15px;
    margin: 6px 0px 6px 0px!important;
    min-height:34px;
}

.tweet-img {
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}