<ion-content class="modal">
    <ng-template [ngIf]="event != null"><div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{function}} Event</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate" required></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="event.startTime" required></ion-datetime>
        </ion-item>
      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)] = "event.allDay"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Public</ion-label>
        <ion-checkbox [(ngModel)] = "event.publicEvent"></ion-checkbox>
      </ion-item> 
      <ng-template [ngIf]="function == Update">
      <ion-item>
          <ion-label>add to personal calendar</ion-label>
          <ion-checkbox (click) = "personalCalendar = !personalCalendar"></ion-checkbox>
      </ion-item>
      <ng-template [ngIf]="!personalCalendar" [(ngModel)]="personalCalendar" name="personalCalendar" ngDefaultControl>

          <ion-item>
              <ion-label>Calendar List</ion-label>
              <ion-select (ionChange)="onChangeHandler(calendar.id)" ngModel="CID" okText="Okay" cancelText="Dismiss" *ngFor="let calendar of adminCalendars" required>
                <ion-select-option value="{{calendar.id}}">{{calendar.title}}</ion-select-option>
              </ion-select>
            </ion-item>
      </ng-template>
    </ng-template>
         </ion-card-content>
 
  <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand="half" fill="clear" color="light" (click)="closeModal()">
          Close
        </ion-button>
          <ion-button expand="half" fill="clear" color="light" (click)="addOrUpdate()">
            {{function}} Event
          </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
  </div></ng-template>
<ng-template [ngIf]="calendar != null"><div>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Create Calendar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
          <ion-input type="text" placeholder="Title" [(ngModel)]="calendar.title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Description" [(ngModel)]="calendar.desc"></ion-input>
          </ion-item>
        <ion-item>
          <ion-list>
            <ion-item *ngFor = "let user of users | async"  (click)="addUserToCalendar(user)">
              {{ user.username}}
              
            </ion-item>
          </ion-list>
          <!-- <ion-item [(ngModel)] = "calendar.users"></ion-item> -->
        </ion-item>
      </ion-card-content>
    
 
    <ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="half" fill="clear" color="light" (click)="closeModal()">
      Close
    </ion-button>
    <ion-button expand="half" fill="clear" color="light" (click)="addCalendarToFirestore()">
      Send Data
    </ion-button>
    <ion-button expand="half" fill="clear" color="light" (click)="refresh()">
        refresh
      </ion-button>
  </ion-toolbar>
</ion-footer>
</ion-card>
</div></ng-template>
  </ion-content>


